.columns_links_container {
    display: flex;
    justify-content: space-around;
  }
  
  .task-content-divide-half {
    display: flex;
    justify-content: space-between;
  }
  .half {
      width: 45%;
  }
  .half h3 {
    color: #bdc1c6;
  }
  
  .half ul {
    margin: 0;
    color: #9aa0a6;
    font-weight: 300;
  }
  
  .half ul a {
    color: #ee4043;
  }
  