@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap");

* {
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  background: #202124;
}

h2 {
  margin: 0;
}

.main-container {
  margin: 100px 20px 0 20px;
}
